@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #000000;
  --ripley-red: #dc4441;
  --ripley-yellow: #ffc445;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ffffff;
  }
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--ripley-red);
}
